
*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
#form {
  width: 70%;
  margin: auto;
  margin-top: 25vh;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  background-color: black;


}

#form input {
  height: 25px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 5px;
}

#form label {
  margin-left: 3px; 
  font-size: 17px;
  font-weight: bold;
  color: white;
}

#form button {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: red;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  height: 30px;
  width: 100%;
}

#form button:hover {
    background-color: green;
}
#heading-form {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  
}

.join-caontainer {
  display: flex;
  height: 100vh;
  /* color:white */
  /* background-image: url("./ezgif-4-0aeb2e05f9.gif");
    background-size: cover;
    backdrop-filter: blur(5px); */
    
}

.join-main {
  width: 30%;
  animation: slideUpAnimation 1s ease-in-out forwards;
  background-color: rgb(148, 147, 147);
  /* background-color: RGB(167 90 3) */


}



  
  @keyframes slideUpAnimation {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

/* ****************:right side *********** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  .description {
    width: 70%;
    background-color: rgb(0, 0, 0);
    color: rgb(245, 208, 192);
    font-size: 20px;
    padding: 20px;
    text-align: justify;
    animation: slideDownAnimation 1s ease-in-out forwards;

  }
  @keyframes slideDownAnimation {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  #des-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #des-heading div:first-child {
    width: 150px;
    margin-right: 20px;
  }
  
  #des-heading img {
    width: 100%;
    border-radius: 10px;
  }
  
  #des-heading div:last-child {
    flex: 1.5;
  }
  
  #des-heading h1 {
    font-size: 50px;
    color: white;
    padding-left: 88px;
  }
  
  #des-img {
    width: 20%;
    margin: auto;
    margin-top: 20px;
  }
  
  #des-img img {
    width: 100%;
  }
  
  #des-words {
    margin-top: 25px;
  }
  
  #des-words span {
    color: red;
  }
  
  #des-words h4 {
    margin-left: 30px;
  }
  
  .description br {
    line-height: 20px;
  }
  
