body {
    font-family: Arial, sans-serif;
    /* background-color: black; */
    color: white;
    background-image: url("../images/ezgif-4-0aeb2e05f9.gif");
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(3px);

    
}
/* *{
    background-image: url("../images/ezgif-4-0aeb2e05f9.gif");
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(3px);
} */

    #form{
        display:flex;
        width:100%;
        /* margin-top: 200px; */
        gap:20px;
        /* border:2px solid red; */
        height:97vh;
    }

    #left{
        width:50%;
        margin-top: 250px;

    }

    #left img{
        width: 100%;
        animation: pulse 2s linear infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    #right {
        width:40%;
        text-align: left;
        margin-top: 200px;
        /* border:2px solid red; */
        background-image: url("../images/ezgif-4-0aeb2e05f9.gif");
        border-radius: 10px;
        background-size: cover;
        height:380px;

    }
    
    #right > div:first-child {
        font-size: 24px;
        font-weight: bold;
        /* margin-left:20px; */
        text-align: center;
    }
    
    #right label {
        display: block;
        font-weight: bold;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    
    #right input {
        width: 90%;
        padding: 8px;
        margin-top: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 20px;
    }
    
    #right button {
        background-color: red;
        color: white;
        font-weight: bold;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        margin-left: 30px;

    }
    
    #right button:hover {
        background-color: #45a049;
    }
    
    #rohit h5 {
        margin-top: 10px;
        font-size: 15px;
        /* border: 3px soild red; */
        margin-left: 30px;


    }

    #rohit a{
        text-decoration: none;
        border: none;
        outline: none;
        color:red;
        /* font-size: 20px; */
        font-weight: bolder;
        border: 3px soild red;
    }
    